[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"

[packages]
redis = "*"
rq = "*"
apscheduler = "*"
discord-webhook = "*"
asyncio = "*"
aiohttp = "*"

[requires]
python_version = "3.7"
